/**
  This file contains common page components.
  - grid
  - buttons
  - inputs
 */

* {
  box-sizing: border-box;
}

body {
  background-color: $gray-white;
  color: $gray-dark;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

/*****************/
/** Page Styles **/
/*****************/

.content-box {
  background: white;
  border: 1px solid $gray-light;
  border-radius: 2px;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translateX(-50%) translateY(-50%));
}

.absolute-center--horizontal {
  position: absolute;
  left: 50%;
  @include transform(translateX(-50%));
}

.absolute-center--vertical {
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
}

/*******************/
/** Button Styles **/
/*******************/

button,
.btn {
  appearance: none;
  background-color: $gray-dark;
  border-radius: 2px;
  border: 1px solid transparent;
  color: $gray-white;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  opacity: 0.9;
  outline: none;
  margin: 5px;
  padding: 10px 15px;
  transition: 100ms;
  text-decoration: none;
}

.btn--blue {
  background-color: $blue;
}

.btn--green {
  background-color: $green;
}

.btn--red {
  background-color: $red;
}

.btn--outline {
  background: $gray-white;
  border-color: $gray-med;
  color: $gray-dark;
}

.btn--ghost {
  background: transparent;
  border: 1px solid $gray-light;
  color: $gray-white;
}

.btn--lg {
  font-size: 16px;
  padding: 15px 25px;
}

.btn--sm {
  font-weight: 500;
  padding: 6px 13px;
}

/*****************/
/** Link Styles **/
/*****************/
a.link {
  text-decoration: none;
  transition: 100ms;

  &:hover {
    text-decoration: underline;
  }
}

a.link--primary {
  color: $blue;
}

a.link--white {
  color: $gray-white;
}

/******************/
/** Input Styles **/
/******************/

.input-container {
  font-family: $font-stack;
  display: inline-block;
  margin: 5px;
  position: relative;
}

label {
  color: $gray-dark;
  display: inline-block;
  font-size: 13px;
  margin-bottom: 10px;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  border: 1px solid $gray-light;
  border-radius: 2px;
  background-color: transparent;
  font-size: 14px;
  outline: none;
  padding: 10px 13px;
  transition: 100ms;
  z-index: 1;

  &:focus {
    border-color: $blue;
  }
}
