$green          : #13CE66;
$green-light    : #29EB7F;

$blue           : #1FB6FF;
$blue-light     : #85D7FF;

$red            : #E74C3C;
$red-light      : #FF7B6D;

$gray-dark      : #3C4858;  // darkest gray
$gray-med       : #8492A6;
$gray-light     : #E0E6ED;
$gray-white     : #F9FAFC;  // lightest gray

$ease: cubic-bezier(0.770, 0.000, 0.175, 1.000);
